.header {
  background: url("../../../../movieApp/Popcorns4.png") #5d2a42;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 3em;
  h1 {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 4em;
    color: #fda0a1;
    font-weight: 200;
  }
}
