* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  max-width: max-content;
}

.footer {
  background-color: #5d2a42;
  color: #fda0a1;
  padding: 2em;
}

.footer > h1 {
  text-align: center;
  font-weight: 300;
  font-size: 1em;
}

.header {
  background: url("../../movieApp/Popcorns4.png") #5d2a42;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;

  padding: 3em;
}

.header h1 {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 4em;
  color: #fda0a1;
  font-weight: 200;
}

.search--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 2em;
  height: 5em;
  background-color: #5d2a42;
}
form > input,
form > button {
  font-weight: 400;
}

.movie--table,
.movie--table--title {
  display: grid;
  grid-template-columns: minmax(200px, 340px) 100px 200px 180px 100px;
  margin: 0.5em 1em;
  align-items: center;
  justify-content: center;

  text-align: center;
  /* font-size: 1.1em; */
  /* max-width: 91vw; */
}
.sort--icon {
  font-size: 1em;
}

.title--sort {
  cursor: pointer;
}
.movie--table--title > h2,
.delete--title--first > h2 {
  font-size: 1.2em;
  padding: 0 1em;
}

.modal--container {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fffffe;
  color: #475a5a;
  padding: 2em 3em;
  border-radius: 18px;
  width: 40%;

  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
}

.modal--step {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.close--modal--button {
  background-color: #465f5c;
  border: none;
  border-radius: 8px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  color: #f8b3b4;
  font-size: 1em;
  font-weight: 500;
  padding: 0.8em 1.1em;
  cursor: pointer;
  font-weight: 500;
}
.close--modal--button:hover {
  background-color: #f8b3b4;
  color: #465f5c;
}

.modal--step > button,
.modal--close--button > button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-weight: 700px;
}
.modal--icon {
  color: #f8b3b4;
  font-size: 4.5em;
}

.modal--icon:hover {
  color: #475a5a;
}

.modal--title {
  color: #465f5c;
}

/* .modal--icon:hover {
  color: #f2f2f2;
} */

.table--container,
.table--container--firstline {
  display: flex;
  align-items: center;
  padding: 0 1em 0 0;
}
.main--table--container {
  /* background-color: #fff1eb; */
  background-color: #475a5a;

  color: #fff1eb;
  /* padding: 0 2em; */
  width: 96%;
  margin: 0 auto;
}

.table--container:hover,
.table--container:nth-child(even):hover {
  background-color: #5d2a42;
  color: #fec3c4;
}

.table--container:nth-child(even) {
  /* background: #46605b; */
  background-color: #fff1eb;

  color: #5d2a42;
}

.table--container--firstline,
.delete--title {
  color: #f8b3b4;
  background-color: #475a5a;
  text-transform: uppercase;
  font-weight: 400;

  align-items: center;

  /* display: flex;
  align-items: center; */
}

.delete--line {
  border: none;
  background-color: #fffffe;
  color: #475a5a;
  padding: 1em 1.3em;
  border-radius: 20px;
}

.delete--line:hover {
  border: none;
  background-color: #f8b3b4;
  color: #2e425e;

  border-radius: 20px;
  font-weight: 500;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageNumber {
  margin: 1em 0.5em;
  font-weight: 400;
  font-size: 1.5em;
  color: #fda0a1;
}

.page--step--icon {
  font-size: 3em;
  color: #fff1eb;
}

.page--step--icon:hover {
  color: #fda0a1;
}
.pagination > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1em;
}
.button--search {
  background-color: #f2f2f2;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;

  color: #2e425e;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1;
  margin: 0 0.2em;
  padding: 0.8em 1.1em;
  text-align: center;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
}

.button--search:hover {
  box-shadow: #2e425e 0 0 0 3px, transparent 0 0 0 0;
}
input {
  border-radius: 12px;
  background-color: #f2f2f2;
  color: #2e425e;
  font-family: Poppins, sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0.4em 0.7em;
}

/*Rating*/

main {
  background-color: #475a5a;
}
